{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<h1 align="center">Intervals</h1>
<div class="table_intervals" style="position: relative;top: 25px;width: 320px;left: 400px;height: 32px;">
    <label class="line" style="position: relative;top: 58px;left: 0px;border: 1px solid #4f4f4f;width: 410px;"></label>
    <table style="width: 435px;">

        <thead style="position: relative; bottom: 85px;">
            <tr>
                <th style="width: 74px;position: absolute;top: 100px;">№</th>
                <th style="width: 74px;position: absolute;top: 100px;left: 30px;">First date</th>
                <th style="width: 110px;position: absolute;top: 100px;left: 120px;">Second date</th>
                <th style="width: 100px;position: absolute;top: 100px; left: 220px;">Name work</th>
                <th style="width: 100px;position: absolute;top: 100px; left: 320px;">Count days</th>
                <th style="width: 32px;position: absolute;top: 127px; left: 410px;"></th>
            </tr>
        </thead>

        <tbody style="position:relative; top: 50px;">
        {% for note in user.notes %}
            <tr>
                <td style="padding: 0px 5px 0px 0px;">{{ note.id }}</td>
                <td style="width: 100px;position: relative;right: 27px;">{{ note.first_date }}</td>
                <td style="width: 98px;position: relative;right: 33px;">{{ note.second_date }}</td>
                <td>{{ note.name_work }}</td>
                <td style="width: 98px;position: relative;left: 15px;">{{ note.count_days }}</td>
                <td style="width: 16px;"><button type="button" class="close" onClick="deleteNote({{ note.id }})">
                          <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form method="POST" action="{{ url_for('views.home') }}">
    <label class="intervals"
           style="font-weight: bold; position: relative; top: 10px;">Add intervals:</label>
    <label class="first_date"
           style="position: relative; top: 35px; right: 94px">Add first date:</label>
    <label class="second_date"
           style="position: relative; top: 76px; right: 198px">Add second date:</label>
    <labelпге class="name_work"
           style="position: relative; top: 117px; right: 326px">Add work name:</labelпге>
    <input type="date" name="first_date" id="note_first_date" class="form-control"
           style="position: relative; width: 200px; left: 150px" >
    <input type="date" name="second_date" id="note_second_date" class="form-control"
           style="position: relative; width: 200px; left: 150px">
    <input type="text" name="name_work" id="note_name_work" placeholder="name work" class="form-control"
           style="position: relative; width: 200px; left: 150px">
    <button type="submit" style="position: relative; top: 10px;" class="btn btn-primary">Input intervals</button>
</form>

<div class="line_intervals3" style="height: 1px;width: 30px;
border: 1px solid black;position: relative;left: 900px;bottom: 130px;"></div>

<div  style="position: relative; bottom: 130px; left: 890px; width: 50px; height: 50px">
    {% for number in interval_number %}
        <div id="line_intervals" style="height: 50px; width: 1px; border: 1px solid black; position: relative;
        left: 25px; bottom: 2px;">
            <a style="  position: relative; right: 15px; top: 10px;">{{ number }}</a>
        </div>
        <div class="line_intervals2" style="height: 1px; width: 30px; border: 1px solid black; position: relative;
        left: 10px; bottom: 4px;"></div>
    {% endfor %}
</div>

{% for date in dates_sorted %}
    <div style="position: relative; left: 935px; bottom: 195px">
        <div style="position: relative; height: 50px;">{{ date }}</div>
    </div>
{% endfor %}

{% if interval_number == [] %}
<a style="font-weight: bold; position: relative; color: red">ADD intervals!!!</a>
{% else %}
<button><a class="nav-item nav-link" id="print" href="{{ url_for('views.installation', intervals=interval_number) }}">Confirm</a></button>
{% endif %}

{% endblock %}