<div id="options">

    <h1 align="center">Protocol</h1>

    <div class="table_intervals" style="position: relative;top: 57px;width: 330px;left: 655px;">
        <label class="line" style="position: relative;display: inline-block;top: 45px;left: 0px;border: 1px solid #4f4f4f;width: 210px;"></label>
        <table style="width: 250px;">
            <thead style="position: relative; bottom: 85px;">
                <tr>
                    <th style="width: 100px;position: absolute;top: 100px;left:20px;">Name work</th>
                    <th style="width: 74px;position: absolute;top: 100px; left: 125px;">Intersvals</th>
                </tr>
            </thead>
            <tbody style="position:relative; top: 50px;">
            {% for note in user %}
{#                {{ note }}#}

    {#             user.notes #}
                <tr>
                    <td style="width: 100px;position: relative;right: 0px;">data.dates_sorted </td>
                    <td> {{ note }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table_intervals" style="position: relative;bottom: 25px;width: 320px;left: 100px;height: 32px;">
        <label class="line" style="position: relative;display: inline-block;top: 45px;left: 0px;border: 1px solid #4f4f4f;width: 410px;"></label>
        <table style="width: 435px;">
            <thead style="position: relative; bottom: 85px;">
                <tr>
                    <th style="width: 74px;position: absolute;top: 100px; right: 390px;">№</th>
                    <th style="width: 74px;position: absolute;top: 100px;left: 30px;">First date</th>
                    <th style="width: 110px;position: absolute;top: 100px;left: 112px;">Second date</th>
                    <th style="width: 100px;position: absolute;top: 100px; left: 220px;">Name work</th>
                    <th style="width: 100px;position: absolute;top: 100px; left: 320px;">Count days</th>
                </tr>
            </thead>
            <tbody style="position:relative; top: 50px;">
            {% for note in user.current_user.notes %}
                <tr>
                    <td style="padding: 0px 5px 0px 0px;">{{ note.id }}</td>
                    <td style="width: 100px;position: relative;right: 27px;">{{ note.first_date }}</td>
                    <td style="width: 98px;position: relative;right: 33px;">{{ note.second_date }}</td>
                    <td>{{ note.name_work }}</td>
                    <td style="width: 98px;position: relative;left: 15px;">{{ note.count_days }}</td>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="line_intervals3" style="display: inline-block; height: 0px; width: 30px;
    border: 1px solid black; position: relative; left: 1100px; top: 5px;"></div>

    <div  style="position: relative; top: 5px; left: 1090px; width: 50px; height: 50px">
        {% for number in dates_sorted.intervals %}
            <div id="line_intervals" style="height: 49px; width: 0px; border: 1px solid black; position: relative;
            left: 25px; bottom: 0px;">
                <a style="  position: relative; right: 15px; top: 10px;">{{ number }}</a>
            </div>
            <div class="line_intervals2" style="height: 0px; width: 30px; border: 1px solid black; position: relative;
            left: 10px; bottom: 0px;"></div>
        {% endfor %}
    </div>

    {% for date in dates_sorted.dates_sorted %}
         <div  style="position: relative; bottom: 35px; left: 1110px;">
            <div style="position: relative; height: 50px;">
                <div style="position: relative; bottom: 10px; left: 30px">{{ date }}</div>
            </div>
         </div>
    {% endfor %}
</div>

<input id="printpagebutton" type="button" value="print news" onclick="printpage()"/>

<script>
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>

<style>
    #options {
	align-content:center;
	align-items:center;
    text-align: center;
}
</style>